body {
  background-color: #836e8d;
  /* padding: 20px; */
  margin: 0;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
  margin: 0px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
ul.header .title {
  color: white;
  padding: 8px;
  padding-left: 16px;
}
ul.header .title h1 {
  margin: 0px;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition: background-color ease-in-out 0.4s;
}
.content {
  background-color: #fff;
  padding: 24px;
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 0px 32px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099ff;
  padding: 20px;
}
